@{
    ViewData["Title"] = "Домашняя";
}
@model HomeIndexModel

<div class="text-center">
    <h1 class="display-4">Система тестирования</h1>
    <p>Введите имя студента в системе: </p>
    <form method="post">
        <input name="studentNameInput" value="@Model.User" />
        <p><button id="solveBtn" type="submit" asp-action="Index">Проверить</button></p>
    </form>
    
</div>


<div>
    @using (Html.BeginForm("Test", "Home", FormMethod.Post))
    {
        <h1 class="display-6">Данные</h1>
        <form method="post">
        <table class="center">
            <tr>
                <td><p>Язык программирования: </p></td>
                <td><p>@Html.DropDownList("LanguagesDD", Html.GetEnumSelectList(typeof(Languages)))</p></td>
            </tr>
            <tr>
                <td><p>Код учебного курса:  </p></td>
                <td><p>@Html.DropDownList("CoursesDD", Html.GetEnumSelectList(typeof(Courses)))</p></td>
            </tr>
            <tr>
                <td><p>Тестовая задача №:  </p></td>
                <!--<td><p>@Html.DropDownList("ProblemDD", new SelectList(new int[]{1,2,3,4,5,6,7,8,9,10}), new {AutoPostBack = "True", OnSelectedIndexChenged = "ProblemChanged(this)"})</p></td> -->
                <td><p><input name="currentProblem" value="@Model.currentProblem" /></p></td>
            </tr>
            <tr>
                <td><p>Вариант:  </p></td>
                <td><p>1</p></td>
            </tr>
        </table>
        <br />
            <p class="text-center"><button id="loadBtn" type="submit" asp-action="Test">Загрузить код</button></p>
        </form>
        <br />
        <h1 class="display-6">Вывод</h1>
        <p>@ViewBag.Message</p>
        <table class="table table-striped table-hover">
            <tr border="1">
                <td>Сложность</td>
                <td>Описание</td>
            </tr>
            @{
                if (Model.tests is not null)
                foreach (var problem in Model.tests)
                {
                    <tr>
                        <td>@problem.Rating</td>
                        <td>@problem.Task</td>
                    </tr>
                }
            }
        </table>
        
    }

</div>

